body{
	background-color: lightgray;
}
h1{
	color: tomato;
}
h2{
	color: #1460aa;
}
p{
	color: darkblue;
}
.heading{
	color: red;
	font-size: 65px;
}
.actionHeader{
	color: black;
}
.diaryHeader{
	color: hotpink;
}
