body{
	background-color: lightgray;
	color: #333;
}
h1{
	color: tomato;
}
h2{
	color: #1460aa;
}
p{
	color: darkblue;
}
.heading{
	color: #262626;
	font-size: 65px;
}
.sectionHeader, .diaryHeader{
	color: #006494;
}
 
.link{
	color: #13293D;
}
.thirdHeader{
	color: #018E42;
}
.about{
	width: 700px;
}